<nav class="nav-container">
  <div class="nav-wrapper">
    <%= link_to "/", class: "logo", data: { turbo: false } do %>
      <%= image_tag "https://res.cloudinary.com/diwuyv3c8/image/upload/v1734614608/temp-logo-02_ikumiv.svg" %>
    <% end %>

    <div class="nav-menu">
      <ul class="nav-list">
      <!--
        <li class="nav-item">
          <%= link_to "Currency", root_path, data: { turbo: false } %>
        </li>

        <li class="nav-item">
          <%= link_to "Checkout", root_path, data: { turbo: false } %>
        </li>
          -->
      </ul>
    </div>
  </div>
</nav>
